[2017-08-18 19:33] h-m-f-t opened #5 "Check for STARTTLS"
STARTTLS is [opportunistic encryption for SMTP](https://tools.ietf.org/html/rfc7435#section-4). It's not perfect, and there are [overarching ecosystem problems](https://zakird.com/papers/mail.pdf) with mail encryption, but it's an easy knob for orgs to turn on and is something `trustymail` should check for.

[2017-08-18 19:44] h-m-f-t opened #6 "Account for wildcard DNS resolution"
https://yourefired.usajobs.gov is not a host that OPM should be held accountable for, and resolves only because of a wildcard DNS record. `trustymail` presumes that "no NXDOMAIN response" means there's an individual host there, but this is too simplistic.

TODOs:
- [ ] See how [domain-scan tackled this problem](https://github.com/18F/domain-scan/blob/a8cb03e3d9522fed77c5619646a6abdd0b7c7046/scanne

[2017-09-12 03:09] h-m-f-t opened #7 "Follow SPF redirect modifiers"
The SPF RFC [says](https://tools.ietf.org/html/rfc7208#section-6.1):

This lets an organization specify at a single or set of canonical locations all addresses or hostnames that are authorized to send mail on its behalf. This is a decent substitute for SPF not having a wildcard-like function.

`trustymail` should follow redirects and adjudicate `valid_spf` accordingly.

[2017-10-13 20:17] h-m-f-t opened #10 "Tests on pyspf"
Moving out of #9 in order to commit it sooner.

We should validate that our SPF library warns when a more-than-255-char string is present in a TXT record, which, without an error, could make trustymail's concatenation of all strings in #9 appear correct when in fact there is a error that could prevent SPF record processing.

I hear tests are good!

[2017-10-13 20:21] h-m-f-t opened #11 "Add Travis CI"
Let's catch the stupid stuff.

[2017-10-17 19:59] konklone opened #13 "Bug with handling of fed.us domains"
Not sure if this is a trustymail issue or a report-generating issue, but `fed.us` is not a domain -- it's a public suffix:

https://publicsuffix.org/list/public_suffix_list.dat

<img width="362" alt="screen shot 2017-10-17 at 3 58 18 pm" src="https://user-images.githubusercontent.com/4592/31686393-03970074-b354-11e7-8637-3570e904ac3b.png">

This means that domains like `fs.fed.us` should be treate

[2017-10-17 20:02] konklone commented on #13
Also, just to be clear from a technical standpoint, this means that `fed.us` isn't treated as a registerable domain by browsers that use the PSL (which I think is all of them, and certainly Firefox and Chrome). It also means that cookies can't be set for `fed.us` that would be valid across domains that end with `fed.us`, so they are completely separate security boundaries.

That said, I have no id

[2017-10-21 03:13] IanLee1521 opened #15 "Tag releases"
It would be nice if releases that get published to PyPI had a corresponding `git tag`'d version for where they came from.

[2017-11-08 21:03] h-m-f-t commented on #5
Fixed via #8. This works well, and should only improve as we scan a ton of domains. Thanks @jsf9k!

[2017-11-08 21:03] #5 closed

[2017-11-13 08:08] konklone opened #21 "Null results for fields about base domain, when scanning a base domain"
When scanning `gsa.gov`, I got some confusing results around the base domain. The fields relevant to the Base Domain are `null`, even though it seems to be properly detecting results for the domain I gave it.

[code]

[2017-11-13 08:09] konklone opened #22 "Empty string fields that should probably be null"
There are some empty strings in some fields that should probably be `null`:

[code]

I assume these values aren't meant to represent literal empty strings. If a domain doesn't support SMTP, I would expect a description of its SMTP support to be `null`.

[2017-11-13 13:15] jsf9k commented on #22
I'll change them to null if there are no entries.

[2017-11-13 13:16] jsf9k commented on #21
I'll look into this.

[2017-11-13 20:00] jsf9k commented on #21
@konklone, the problem with the `gsa.gov` domain appears to be that it causes too many DNS lookups to be invoked.  [RFC7208](https://tools.ietf.org/html/rfc7208#section-4.6.4) states that SPF evaluation cannot result in more then 10 DNS lookups.

Using the code in the `bugfix/null_results_for_fields` branch, I get the following output for `gsa.gov`:
[code]

You can see that by `gsa.gov` itself inc

[2017-11-14 02:39] konklone commented on #21
Huh - this all looks to be generic G Suite settings though, right? Nothing really specific to GSA? If that's the case, you'd probably have no choice but to expand the lookup and violate spec, since G Suite is a very common platform (and is becoming so even in the US government).

Also, I think as a general matter, the scanning client should be deliberately permissive, as you're trying to learn abo

[2017-11-14 05:56] h-m-f-t commented on #21
Thanks for the issue, @konklone.

There appear to be two conversations going on:
1. _"Base domain fields should show up even if I'm scanning a base domain!"_

I concur, we should represent those fields even when the domain in question is a base domain.

2. _"There's an SPF record error on `gsa.gov!`_

I agree with the intent of being a permissive scanner, while detecting and reporting on known iss

[2017-11-15 17:04] jsf9k commented on #21
@konklone, once we get to `_spf.google.com` it's all standard G-Suite stuff.  The problem is that there are all the `spf_a[0-7].gsa.gov` includes before we even get to that.  So `gsa.gov`'s SPF records are a combination of `gsa.gov`-specific stuff __and__ the standard G-Suite stuff.  (I'm not saying we shouldn't still handle the non-compliant setup, I'm just answering your question of "this all lo

[2017-11-16 17:26] jsf9k opened #24 "trustymail not always idempotent"
I encountered this interesting case:
[code]

Note that the SPF results are not identical between the two cases.  This appears to be a problem in the underlying DNS library we are using.  I am seeing this behavior both on and off our VPN.

[2017-11-19 17:15] byeskille opened #26 "Non-ASCII characters in DNS makes trustymail crash"
This is probably a mix of domains not following standards and handling of errors in `trustymail`.

I see in testing that `trustymail` crashes completely when finding non-ASCII characters in DNS.

See example with testing the domain aigecala.no:
[code]

This domain does not have a MX record, but `trustymail` seems to still look for a SPF record and then finds this:
`aigecala.no.		86400	IN	TXT	"S\22

[2017-11-19 19:34] jsf9k commented on #26
Thanks for the issue, @byeskille!  I should be able to catch the exception, log it, and keep going.  I'll make the change once pull request 25 gets merged.

[2017-11-20 02:58] #22 closed

[2017-11-22 15:16] jsf9k opened #27 ""Error" field in trustymail output needs a better name"
The "Error" field in the `trustymail` output needs a better name.  It contains mostly? only? things that are not really errors, and is really only useful for debugging why `trustymail` reached the conclusions it did.

[2017-11-22 19:24] h-m-f-t commented on #27
More comments: https://github.com/dhs-ncats/trustymail/pull/25#discussion_r152655565

[2017-11-22 19:24] #24 closed

[2017-11-22 19:32] h-m-f-t opened #28 "Consider renaming the --dns-hostnames option"
Consider renaming `dns-hostnames` to just `dns`. In most instances, IPs will be entered, not actual hostnames, and `dns` is faster to type on the command-line.

[2017-11-22 20:48] jsf9k commented on #26
@byeskille, what version of trustymail are you using?  The offending exception does not appear to be thrown any longer since we switched from using `py3dns` to `dnspython` in #25.  At least I'm not seeing it with the code currently in `master`.

Are you able to test with the code currently in `master` and let me know if you're still seeing an issue?  Or do you need a new version pushed to PyPI so

[2017-11-22 21:01] byeskille commented on #26
@jsf9k I have been cloning this repo and running `pip install -r requirements.txt`
So after updating from the repo and doing the install once again it is working!

The mentioned domain above no longer fails hard, and I have tested a couple more I earlier experienced crashes for with no problems.

I have now started a scan of a larger domain list csv with varying data quality, and can report back m

[2017-11-22 21:11] jsf9k commented on #26
That's great, @byeskille!  I look forward to hearing how your testing goes.  I'll leave the issue open for now.

[2017-11-24 15:44] jsf9k commented on #7
@h-m-f-t, the domains I gave you actually have other problems that cause their SPF records to remain false.  I should have done a better check before giving those to you.  `bep.gov` is one that the `master` branch regards as invalid (because it doesn't understand SPF redirect), but the `bugfix/spf_redirect` branch handles it correctly:
[code]

[2017-11-25 19:53] #11 closed

[2017-11-26 18:22] #28 closed

[2017-11-26 20:04] jsf9k opened #31 "Base domain fields should appear in the output even if a base domain is being scanned"
Right now base domain fields are null in the output if a base domain is being scanned. They should be populated with the information of the (base) domain being scanned.

This issue relates to the discussion in #21.

[2017-11-27 16:22] #7 closed

[2017-11-28 02:33] h-m-f-t opened #33 "The definition of 'Valid DMARC' should be tightened"
Here's some considerations for making `Valid DMARC` be False in a few cases. In these instances, the `--debug` output and _somewhere else_ (depending on #27) should include some rationale for why the domain was scored False.

In some cases, perhaps changing the scoring of`Valid DMARC` isn't the right approach, but adding some new `compliance=yes` key is in order (similar to how [pshtt](https://git

[2017-11-28 05:00] konklone commented on #33
I was wondering what the intent of DHS was going to be here. So you would need to scan all the subdomains too, not just the parent domains, to see if any holes are being cut out among subdomains.

What's interesting here is that you would treat absence of any DMARC records differently: absence of any record is failure in the parent zone case, but expected behavior in the subdomain case. It's only

[2017-11-30 14:53] jsf9k commented on #21
I moved the base domain issue into #31, I renamed this issue so it only addresses the maximum DNS lookup issue.

[2017-11-30 15:16] jsf9k opened #36 "Suggest using a gitflow workflow with master and develop branches"
Given that we're actually releasing to PyPI, I think it makes sense to use a gitflow workflow (see [here](https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow) and [here](http://nvie.com/posts/a-successful-git-branching-model/)) with both `master` and `develop` branches.  That way the `master` branch will always contain the code that has been released to PyPI and the `devel

[2017-11-30 15:24] jsf9k opened #37 "It would be nice to add the latest commit hash to __init__.py"
It would be nice to somehow add the latest commit hash as part of the version string or as a separate variable in `__init__.py`.  This would be a useful piece of information to have when debugging issues reported by third parties, since they can always check out some random branch or commit instead of using what is in PyPI.  If we proceed with #36, this would be particularly useful when debugging

[2017-11-30 17:19] h-m-f-t commented on #36
I haven't read those links yet, but I think the suggestion is quality 👍

[2017-12-01 14:42] h-m-f-t commented on #15
We're giving this a shot! https://github.com/dhs-ncats/trustymail/releases 👍

https://github.com/dhs-ncats/trustymail/pull/32

[2017-12-01 14:42] #15 closed

[2017-12-04 04:02] IanLee1521 commented on #36
👍 Sounds good to me! If so, I would suggest we do the same with pshtt and possibly domain-scan (if @konklone is on board as well).

[2017-12-04 04:04] IanLee1521 commented on #37
I usually use `git describe [--tags]` to get this information, as in:

[code]

[2017-12-04 13:36] #27 closed

[2017-12-04 13:37] jsf9k commented on #37
Thanks, @IanLee1521.  I didn't know about `git describe --tags`.

[2017-12-04 13:41] jsf9k commented on #36
I agree that we should do the same for `pshtt`.  I also like the idea of only allowing changes to `master` and `develop` via pull request - no direct commits.  That way there is at least some documentation for any changes that went into a release.  Thoughts about that?

[2017-12-04 14:03] konklone commented on #36
There's a GitHub setting to do just that, in protected branches. I agree and recommend it.

For domain-scan, there aren't yet a concept of "releases" there, but if it gets to that point, splitting branches like that is what I would do.

[2017-12-04 15:08] jsf9k commented on #26
@byeskille, just checking in to see how your testing went.

[2017-12-05 08:13] byeskille commented on #26
Sorry for the late update. I can report that my two large scans with a total exceeding 10.000 domains went through without crashing. So thanks!

[2017-12-05 13:57] jsf9k commented on #26
Excellent! :+1:

[2017-12-05 13:57] #26 closed

[2017-12-06 20:16] jsf9k commented on #36
I created the `develop` branch, and `develop` and `master` are now protected branches.

[2017-12-06 20:16] #36 closed

[2017-12-06 20:18] IanLee1521 commented on #36
@jsf9k -- You may also want to make the develop branch the default, instead of master.

[2017-12-06 20:22] jsf9k commented on #36
I just made the same changes for pshtt as well.

@IanLee1521, the default branch for both repos should now be `develop`.

[2017-12-06 20:27] IanLee1521 commented on #36
Confirmed. Thanks!

[2017-12-08 21:57] jsf9k commented on #6
What do we want to do here?  Just add another field in the output for each non-second-level domain indicating whether it's a wildcard match?

[2017-12-08 22:12] #31 closed

[2017-12-09 19:27] konklone commented on #6
So, it depends. What circumstances in trustymail make it reasonable to treat this differently from a deliberately set record? For DMARC, you're requiring that base domains apply policy to all subdomains. For other record types, you're requiring that email-sending hostnames do some work and have STARTTLS enabled, and presumably `yourefired.usajobs.gov` is not being used to send email.

Also, when w

[2017-12-11 11:49] h-m-f-t opened #39 "trustymail should be case-insensitive w/r/t DNS"
[RFC 4343](https://tools.ietf.org/html/rfc4343) indicates that DNS names are case-insensitive. We already .lower() domains from input, but we should also allow for any case when we check for the validity of [SPF](https://github.com/dhs-ncats/trustymail/blob/d4bb68aefa03fc61aa4a454295ebccf0154f6748/trustymail/trustymail.py#L249-L253) and [DMARC](https://github.com/dhs-ncats/trustymail/blob/d4bb68ae

[2017-12-11 12:52] h-m-f-t opened #40 "Consider impact of making SERVFAIL responses Live = False"
Of DNS responses, the only one trustymail says indicates a domain is not Live is when an NXDOMAIN answer is received. SERVFAIL is the all purpose "something went wrong" response, indicative of misconfiguration or other error at the authoritative name server. While a domain may not always SERVFAIL, if the error is received at scan time that domain is, for all intents and purposes, _not available_:

[2017-12-16 11:10] lampyjon opened #41 "Dependency problem with pydns / pyspf"
Fresh install on OS X:

$ python -V
Python 3.6.3
$ pip -V
pip 9.0.1 from /Users/user/test/lib/python3.6/site-packages (python 3.6)

$ pip install trustymail
...
Successfully built trustymail py3dns pyspf
Installing collected packages: dnspython, py3dns, pyspf, trustymail
Successfully installed dnspython-1.15.0 py3dns-3.1.0 pyspf-2.0.11 trustymail-0.3.0

$ trustymail dhs.gov
Traceback (most recent

[2017-12-19 02:03] jsf9k commented on #41
This is odd.  I went through what I believe are the same steps as you on my (Linux) system without hitting the same error:
[code]

@lampyjon, is this how you created your virtual environment?  Or are you not working in a virtual environment?  (It looked like you were, since I saw `pip 9.0.1 from /Users/user/test/lib/python3.6/site-packages (python 3.6)` in the output you shared.)

[2017-12-19 20:48] lampyjon commented on #41
Thanks @jsf9k! I've tried as per your run through above, and still see the same issue:

[code]

[2017-12-21 15:36] jsf9k commented on #41
@lampyjon, as it happens I have a brand new Mac right here.  It only has Python 2.7, though.  How did you install version 3.6?  I want to replicate what you did, but I'm not a Mac guy.

[2017-12-22 16:25] seanthegeek opened #43 "How can I notify .gov domain owners of problems with their SPF/DMARC records?"
I spent the last month or so writing my own parsers for SPF and DMARC, and I just learned this project exists! D'oh! My code is not as clean as yours, but it is more strict about how it validates SPF and DMARC records. I'll contribute some code for issue #33 soon 😄

https://domainaware.github.io/checkdmarc/

Anyway, I tested my script against a list of high-profile (risk of fraud or political acti

[2017-12-22 17:14] h-m-f-t commented on #43
@seanthegeek 👋 hi there! Nice work on your tool, and excellent documentation! We would welcome your contributions, especially regarding #33.

Similar to the process described in [this blog post](https://18f.gsa.gov/2017/01/06/open-source-collaboration-across-agencies-to-improve-https-deployment/), where we deliver HTTPS results to agencies, we also deliver a Trustworthy Email Report regularly to (

[2017-12-22 17:14] #43 closed

[2017-12-28 10:09] lampyjon commented on #41
That's a good question @jsf9k - I'm struggling to remember. I strongly suspect I installed it using brew.

[2018-01-02 20:43] h-m-f-t opened #45 "Check that a DMARC record includes a particular mailto: in rua flags"
[Now that the NCCIC reporting address is out](https://github.com/dhs-ncats/cyber.dhs.gov/pull/27), we need to validate that a domain's DMARC record includes `reports@dmarc.cyber.dhs.gov`. This should be an optional flag (maybe called `--mailto=`?) with true/false values in a key called "Mailto Mandate" (...or something better).

The BOD requires this address to be in `rua=`, not `ruf=`'s, so only

[2018-01-02 21:29] konklone commented on #45
I recommend using a transport-agnostic flag, since reporting URIs don't just have to be email, right?  And it's also aggregate reports only, not forensic reports.

So I might use something like `--aggregate-reports-to`, with the protocol in place like `--aggregate-reports-to=mailto:reports@dmarc.cyber.dhs.gov`, and have that validate that that URI is present among the `rua=` values.

[2018-01-02 22:43] jsf9k commented on #40
@h-m-f-t, where are you seeing the 37 agencies that respond with `SERVFAIL`.  The most recent tmail scan has none, so I need to look at the `results.csv` file from whatever collection you got the data from.

[2018-01-03 02:22] h-m-f-t commented on #40
Sorry, I should have mentioned how I got those results. The data above comes from running `host` over the second-level .govs in [current-federal.csv](https://github.com/GSA/data/blob/master/dotgov-domains/current-federal.csv). Something like:

[code]
nets me these domains:

biosecurityboard.gov
chemsafety.gov
citizencorps.gov
citizencosponsors.gov
clinicaltrial.gov
disability.gov
edpubs.gov
eguard

[2018-01-03 15:45] seanthegeek opened #46 "Cisco IronPort email gateways may close SMTP connections before the STARTTLS scan"
e.g. `cardinalhealth.com`

[2018-01-03 15:46] seanthegeek commented on #46
Seems like this might be anti-DoS? @jsf9k

[2018-01-03 18:43] seanthegeek commented on #45
Also, consider that DMARC URIs may have size limits on the end of them. e.g. `!10m` when looking for the specific address.

Luckily, I included code that parses out the scheme/transport, address, and size limit in the [latest commits to my PR](https://github.com/dhs-ncats/trustymail/pull/44/files#diff-904039f72ed14591250159dda2248e70R295)!

[2018-01-03 19:06] jsf9k commented on #40
@h-m-f-t, I have code to fix this, but to avoid merge conflicts I'd like to get @seanthegeek's pull request in first.

See [this branch](https://github.com/dhs-ncats/trustymail/tree/improvement/better_handling_of_servfail).

[2018-01-04 15:39] jsf9k commented on #46
@seanthegeek, I do see some "Connection unexpectedly closed" stuff when I scan, but I never really investigated it.  How do you know this is related to Cisco Iron Port hardware?

[2018-01-04 20:30] jsf9k commented on #41
@lampyjon, sorry for the delay.  I've been busy with the holidays and catching up on other things.

I was able to install `python3` via brew on the Mac I have, and I am able to reproduce your error now.  It looks like [other folks are seeing it too](https://github.com/pypa/virtualenv/issues/1012).  The issue is that the `py3dns` installs to `DNS` and `dnspython` installs to `dns`, and on OSX the f

[2018-01-04 21:41] jsf9k commented on #46
Ha! :relaxed:

[2018-01-05 21:06] jsf9k opened #47 "In some cases trustymail should pay attention to base domain SPF records"
trustymail does not correctly handle parent SPF records. It only examines the record for the domain itself, not the base domain.

trustymail should examine the SPF record of the base domain, just as it does for DMARC records. This is because it is possible that the domain itself has no SPF record, but the base domain has one that applies to all its subdomains.

[2018-01-05 21:16] jsf9k commented on #47
SPF does not have an inheritance mechanism.  I was completely wrong when I created this issue.

[2018-01-05 21:16] #47 closed

[2018-01-06 19:32] jsf9k commented on #41
@h-m-f-t says he is seeing this issue too.

[2018-01-08 16:20] #33 closed

[2018-01-08 16:59] h-m-f-t commented on #45
@jsf9k @dav3r I'm happy with the approach @seanthegeek took in #44. Any reason we should keep this issue open?

[2018-01-08 19:28] jsf9k commented on #45
It can be closed as far as I'm concerned.

[2018-01-08 19:28] jsf9k commented on #45
It can be closed as far as I'm concerned.

[2018-01-08 19:28] jsf9k commented on #45
It can be closed as far as I'm concerned.

[2018-01-08 19:28] jsf9k commented on #45
It can be closed as far as I'm concerned.

[2018-01-08 21:36] seanthegeek commented on #41
I ended up writing my own SPF validation code before I knew `pyspf` existed. I could make another PR that replaces `pyspf` with this code. Things  to consider

## Pros

- Solves the `pydns`/`dnspython` conflict on macOS by only depending on `dnspython`
- Provides more detailed validation errors (e.g. the exact location where as syntax error occurs)

## Cons

- Python 3 is required (would loose Pyt

[2018-01-08 22:52] h-m-f-t commented on #41
@seanthegeek, my hot take is 👍. For the cons,
* I'm ok making Python 3 mandatory (no, macOS has 2.7.x natively)
* If you're up for it, I'd be especially supportive if this is/can be something that you maintain externally that we could call, which would enable larger-than-trustymail use. Either way, this would be a welcome fix.

[2018-01-09 01:47] seanthegeek commented on #41
@h-m-f-t It already does :)

https://domainaware.github.io/checkdmarc/

It includes most of the same DMARC code we just merged too...it was just easier to copy/paste those checks than rewrite your stuff around my module at the time. Even if `checkdmarc` fully replaces that too, my previous work on `trustymail` is not a waste, because you guys caught some upstream bugs I missed!

I'll wait until @j

[2018-01-09 05:04] h-m-f-t commented on #45
Closing in favor of a dedicated aggregate report field, per #44.

[2018-01-09 05:04] #45 closed

[2018-01-09 05:21] h-m-f-t opened #49 "Treat multiple DMARC policy records at a domain as an error"
bfem.gov currently has two DMARC policy records:

[code]
Aside from the errant address in that latter ruf=, trustymail should treat multiple DMARC policy records the same as when there are no DMARC policy records at a second-level domain. From [RFC 7486, section 6.6.3](https://tools.ietf.org/html/rfc7489#section-6.6.3) (number 5), in describing the DNS lookup scheme:

Obviously, trustymail shouldn

[2018-01-09 14:30] jsf9k commented on #49
An error or a syntax error?

[2018-01-09 15:24] h-m-f-t commented on #49
Well, I think collapsing both those to just a single "debug" field, where network and syntax errors get a `[network]:` or `[syntax]:` label, is a nice usability touch-- though that's probably worth its own issue. What say ye?

[2018-01-09 15:32] jsf9k commented on #49
I think it will be harder to read that way due to:
1. Multiple labels per line (`[network]: [DMARC]: Blah blah blah`)
2. The `[network]` and `[syntax]` messages being interleaved

That said, I am fine with doing whatever.  I do think that, since changing the output columns of `trustymail` requires corresponding changes to `domain-scan` and `saver`, we should think about consolidating these minor o

[2018-01-09 15:44] jsf9k commented on #49
Interestingly, the issue you pointed out is intermittent.  I suspect they have redundant DNS servers and only one of them is misconfigured.

I will have a pull request for this soon.

[2018-01-09 16:15] h-m-f-t commented on #49
@jsf9k, I notified Treasury about the bfem.gov issue last night and they responded; they are hopefully testing.

👍 on writing these to `Errors`.

[2018-01-11 17:07] zer0Trac3 opened #51 "TypeError: handle_syntax_error()"
line 433, in dmarc_scan
    handle_syntax_error("Error: The DMARC pct tag value must not be less than 100 "
TypeError: handle_syntax_error() missing 2 required positional arguments: 'domain' and 'error'

Running on Mac OSx Sierra using Python3.5 in virtualenv.

[2018-01-11 17:40] jsf9k commented on #51
Thanks for the report, @zer0Trac3!  I will fix that right now.

[2018-01-11 17:46] jsf9k commented on #51
@zer0Trac3, do happen to have a hostname that triggers the error you saw?  I want to test my change to make sure it works.

[2018-01-11 18:02] #51 closed

[2018-01-11 20:14] #40 closed

[2018-01-11 20:18] #49 closed

[2018-01-14 19:02] seanthegeek opened #53 "Check the base/orginizational domains of DMARC reporting URLs - not the full domain"
Upstream `checkdmarc` issue
https://github.com/domainaware/checkdmarc/issues/21

[2018-01-17 14:38] Y054i commented on #46
Getting similar results here on our Ironport appliances:

[STARTTLS] In starttls_scan at /opt/pyenv/versions/3.6.1/lib/python3.6/site-packages/trustymail/trustymail.py:117: [Errno 111] Connection refused, [STARTTLS] In starttls_scan at /opt/pyenv/versions/3.6.1/lib/python3.6/site-packages/trustymail/trustymail.py:117: timed out, [STARTTLS] In starttls_scan at /opt/pyenv/versions/3.6.1/lib/python3.

[2018-01-25 13:24] jsf9k commented on #46
I have a friendly volunteer with a Cisco IronPort device who has agreed to help troubleshoot.  I'm going to be looking into this next week.

[2018-01-25 14:06] jsf9k commented on #39
@h-m-f-t, I see that `trustymail` is finding that `guideline.gov` has no SPF record because their record starts with `v=SPF1` instead of the `v=spf1` it is expecting.  I also see [here](https://tools.ietf.org/html/rfc7208#section-4.6.1) that the mechanism and modifier names are case-insensitive.  On the other hand, it says [here](https://tools.ietf.org/html/rfc7208#section-4.5) that an SPF record

[2018-01-25 15:19] h-m-f-t commented on #39
That ^ looks like really good evidence that I'm incorrect and we _should_ flag `v=SPF1` as invalid. Thanks for drilling into this, @jsf9k.

[2018-01-29 10:55] #39 closed

[2018-01-29 11:01] #53 closed

[2018-01-29 11:37] h-m-f-t opened #59 "Add a warning when the number of mailto:'s is more than two"
[RFC 7489, section 6.2](https://tools.ietf.org/html/rfc7489#section-6.2) says

E.g., all NASA SLDs currently have 3 mailto:s. We should consider adding a warning when this is detected.

[2018-01-29 11:42] h-m-f-t opened #60 "Add a warning when a policy is set without reporting locations"
[RFC 7489, section 6.5](https://tools.ietf.org/html/rfc7489#section-6.5) says:

(bold mine)

mcctest.gov currently has a DMARC record policy of `none` but no reporting URIs. We should consider adding a warning when this is detected.

[2018-01-29 20:23] jsf9k commented on #60
I'm assuming we want to create a warning only if there are no {{rua}} URIs _and_ no {{ruf}} URIs.

[2018-02-01 14:40] mmclean636jr opened #62 ""trustmail" GitHub tap not found....?"
**MMcLeans-MacBook-Air:trustymail mmclean$ brew install trustymail**
Updating Homebrew...
==> Auto-updated Homebrew!
Updated 1 tap (homebrew/core).
==> New Formulae
bareos-client                            shelltestrunner
==> Updated Formulae
angular-cli         frugal              mariadb@10.0        terraform
ansible             grpc                mas                 tig
azure-cli           hax

[2018-02-01 15:17] jsf9k commented on #62
Thanks for the issue, @mmclean636jr!  I'm not an OSX guy, but could the problem be that you're trying to install via `brew`?  We don't maintain a `brew` tap for `trustymail`, so I don't think that will work.

You can, however, install the latest published `trustymail` via `pip`:
[code]
If you prefer to install the very latest `trustymail` code from GitHub, you can do that via `pip` as well:
[code]

[2018-02-01 15:19] #59 closed

[2018-02-01 15:19] #60 closed

[2018-02-01 15:41] mmclean636jr commented on #62
I have been having real issues with using "pip" recently.

Constantly blows up. Thats why I tried to use Homebrew.

Any suggestion>?

**MMcLeans-MacBook-Air:~ mmclean$ pip install git+https://github.com/dhs-ncats/trustymail.git@develop**

    **Complete output from command python setup.py egg_info:**
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/pri

[2018-02-01 16:13] jsf9k commented on #62
Note that if you're running on OSX you will almost certainly suffer from the (unresolved) issue #41.

I'll have to look into the other `pip` issue you're seeing.

[2018-02-01 19:48] jsf9k commented on #62
@mmclean636jr, what version of Python are you using?  I think that may be part of the issue.

[2018-02-01 20:22] mmclean636jr commented on #62
MMcLeans-MacBook-Air:~ mmclean$ python --version
Python 2.7.14

[2018-02-02 16:41] mmclean636jr commented on #62
Just for further testing purposes, I tried to install the tool on a personal PC with Python 3.6 and received the same error.

C:\Users\Michael McLean\Documents\PIP\trustymail-develop>pip install trustymail
Collecting trustymail
  Using cached trustymail-0.3.0.tar.gz
Collecting requests (from trustymail)
  Using cached requests-2.18.4-py2.py3-none-any.whl
Collecting docopt (from trustymail)
  Using

[2018-02-02 16:51] refayathaque opened #63 "Install in virtualenv with python3!"
For help use : https://help.dreamhost.com/hc/en-us/articles/215489338-Installing-and-using-Python-s-virtualenv

And this for installing Python3 : https://help.dreamhost.com/hc/en-us/articles/115000218612-Installing-a-custom-version-of-Python

Please speak to this in the documentation.

Thanks!

[2018-02-07 16:53] mmclean636jr opened #64 "Trustymail can't directly verify mail servers."
Can mail servers directly be inputted into this tool?

I have domains that have MX records and are reported as "Supports STARTTLS = FALSE" but when I log into the actual mail server and run an EHLO for services offered "250-STARTTLS" pops up.

Domain: airs1.jpl.nasa.gov
Mail Servers: ppa01.jpl.nasa.gov, ppa02.jpl.nasa.gov

[code]
Mail Servers TelNet Results:

ppa01.jpl.nasa.gov::
[code]
ppa02.jpl.

[2018-02-14 09:51] GaryGapinski opened #65 "pip install fail"
This was on a newly installed Ubuntu Server 18.04 (daily) instance.

Is this an error in the installer or the environment?
[code]
Apologies if this is a dumb question.

[2018-02-14 19:11] jsf9k commented on #65
@GaryGapinski, could you try
[code]
This will install the latest `trustymail` from GitHub, which may not have the error.  I don't think we have pushed a new release to PyPI in a while.

[2018-02-15 14:28] GaryGapinski commented on #65
The same error occurs.
[code]

[2018-02-24 22:55] IanLee1521 commented on #63
Hi @refayathaque  -- Are you saying that the documentation should state the `trustymail` should only be installed in a virtualenv?

While that is generally a best practice of Python packages in general, it isn't strictly a requirement...

[2018-02-27 13:17] jsf9k commented on #63
@refayathaque I think using virtualenv for Python development is pretty standard stuff.  That said, you're welcome to create a pull request containing some documentation about how to do that if you want.

[2018-02-27 13:17] #63 closed

[2018-02-27 13:39] jsf9k commented on #65
@GaryGapinski First of all, apologies for the late response.  I was on travel for work last week.

Interestingly, I don't see this behavior.  It looks like `pip` is choking on the copyright symbol in the comment in line 9 of `py3dns/DNS/Base.py`.  I'm guessing this is because your default encoding is set to `ascii`.  Can you check this?  Here's what I see on my local system:
[code]
Let me know wha

[2018-02-27 13:44] jsf9k commented on #62
@mmclean636jr Apologies for the late response.  I was away on travel the last few weeks.

I don't think py3dns supports Windows.  Are you able to install on a Linux system with python 3?

[2018-02-27 14:17] jsf9k commented on #46
The IronPort device that I troubleshooted against worked fine.

[2018-02-27 14:19] jsf9k opened #66 "Domains that throw an NXDOMAIN exception should be treated as "not live""
`trustymail` currently logs `NXDOMAIN` exceptions, but such exceptions do not cause the domain to be flagged as "not live."  In fact, when we check for `MX` or `TXT` records and encounter an `NXDOMAIN` exception we should flag the domain as "not live".

At first I thought it would be necessary to perform a separate query for an `A` or `AAAA` record, but that isn't necessary.

[2018-02-27 16:19] #66 closed

[2018-03-02 22:11] Y054i commented on #46
In our case it turns out the issue was a misconfiguration in a particular Ironport Mail Flow Policy.  All other MFPs were configured correctly, which is why my mxtoolbox.com and checktls.com tests were always successful (those senders fell under a different MFP which was set correctly).  I haven't had a chance to go back through all the logs, but I assume that the IP address(es) that the DHS/NCATS

[2018-03-03 16:12] jsf9k commented on #46
@Y054i, thank you for following up!  That's good information.

[2018-03-07 15:51] jsf9k commented on #65
@GaryGapinski A colleague of mine ran into this very issue.  She found that the problem was due to using the python 2 version of `pip` instead of the python 3 version of `pip` on Ubuntu.  After that it worked.

Can you try installing the `python3-pip` and use `pip3` instead of `pip` on Ubuntu?

[2018-03-07 16:04] GaryGapinski commented on #65
Apologies. I missed the earlier query.

I'll try these this evening (on a clean Ubuntu 18.04 with Python 3).

[2018-03-07 16:09] jsf9k commented on #65
No worries, @GaryGapinski!  I hope this fixes your issue.  :crossed_fingers:

[2018-03-07 21:11] jsf9k opened #69 "DMARC records containing multiple double-quoted strings not parsed correctly"
I'm submitting this issue on behalf of @Essex09.

There may be a bug in which `trustymail` does not properly parse DMARC records containing multiple "character-strings" and incorrectly marks a valid DMARC record as invalid.  For example, the DMARC record at `fdic.gov` is:
[code]
Running this record through [Dmarcian's tool](https://dmarcian.com/dmarc-inspector/fdic.gov) and [MXToolbox](https://mxt

[2018-03-08 15:56] h-m-f-t opened #71 "`DMARC Results` shows a cleaned version of a DMARC record"
In its output, trustymail shows a parsed and cleaned version of a domain's DMARC record instead of the raw record in DNS.

trustymail:
[code]

host (bash):
[code]

The README indicates that the `DMARC Results` field shows a "DMARC record that was discovered when querying DNS", which isn't _exactly_ the case.

I'm actually not sure about the desirability of making this field be the raw results foun

[2018-03-08 16:06] #69 closed

[2018-03-10 10:02] GaryGapinski commented on #65
pip3 install works correcyly. I started with Ubuntu 18.04 daily and added pip3-python (thus its dependencies) and git.

[code]

[2018-03-10 10:02] #65 closed

[2018-03-10 13:46] jsf9k commented on #65
That's great to hear!

[2018-05-09 18:29] refayathaque commented on #65
Hi guys, my problem is related to Gary's above so posting here.

We are trying to create an AWS Lambda function that utilizes pshtt. We are using a Docker container (amazonlinux) to get the AWS specific binaries (.so files) we need for the Lambda deployment package. [ We tried this using an Ubuntu container but Lambda wasn't working, and for this we were referencing this article on [Medium](https:

[2018-06-06 01:21] malvidin opened #81 "Broken CSV Import"
The import of domains from a CSV doesn't use the correct import.

`domains = trustymail.domain_list_from_csv(open(args['INPUT'][0]))`
    should be
`domains = tmail.domain_list_from_csv(open(args['INPUT'][0]))`

https://github.com/dhs-ncats/trustymail/blob/da98d8cd9a1e41817d10465e4e7da5c7c195c593/scripts/trustymail#L85

Traceback (most recent call last):
  File "./trustymail", line 179, in <module

[2018-06-06 02:55] malvidin opened #82 "Incorrect DMARC Check Error"
[The RFC states in 6.6.3 item 4](https://tools.ietf.org/html/rfc7489#section-6.6.3) that:

The current check only looks at the number of results, not those that start with "v=" and the current DMARC version, "DMARC1".

I recommend inserting something similar to the following before line 352. Any subsequent error about the duplicate DMARC errors will be accurate.
`[ record for record in records if

[2018-06-07 13:39] mvogelgesang opened #83 "DNS has no attribute Type"
I am having difficulty running trustymail against any domains and receiving a "AttributeError: module 'DNS' has no attribute 'Type'" error. The error below is the same

**Background info:**
Macbook air
Using pyenv to manage Python versions
Python v3.6.5
Built locally using tag v0.5.5

**Other workarounds attempted**
- Run against other versions of Python 3.4.0, 2.7.0
- Run against latest on develo

[2018-06-07 13:44] h-m-f-t commented on #83
Thanks for the report, @mvogelgesang. This is a [known issue](https://github.com/dhs-ncats/trustymail/issues/41#issuecomment-355390394), caused because the macOS filesystem is case-insensitive (by default).

[2018-06-07 15:19] mvogelgesang commented on #83
Thanks @h-m-f-t. Apologies, I must have overlooked it prior to creating the issue.

[2018-06-07 15:40] jsf9k commented on #83
No worries, @mvogelgesang.  I'm closing this issue as a duplicate.

[2018-06-07 15:40] #83 closed, assigned to nobody

[2018-06-08 13:01] jsf9k commented on #81
Good catch, @malvidin!

[2018-06-08 13:12] jsf9k commented on #82
Another great catch, @malvidin!  Thank you!

[2018-06-08 13:26] #81 closed, assigned to jsf9k

[2018-06-11 20:13] #82 closed, assigned to jsf9k

[2018-08-16 13:32] refayathaque opened #86 "How to check for Strong Crypto?"
Hi guys,

First of all, thank you again for creating this amazing library, it's been making our work at HHS monitoring BOD-18-01 compliance so much easier.

We wanted to know how we could check for SSLv2, SSLv3, TLSv1.1 and 3DES and RC4 ciphers on SMTP servers. We are trying to use trustymail to get email BOD-18-01 compliance, but need to figure out how to do the Strong Crypto part of the assessme

[2018-08-16 13:38] jsf9k commented on #86
Thanks for the encouraging words, @refayathaque!

We use [18F/domain-scan](https://github.com/18F/domain-scan) to scan the domain, and that in turn leverages [nabla-c0d3/sslyze](https://github.com/nabla-c0d3/sslyze/) to check for weak crypto.  So it sounds like you are in the right track.

[2018-08-16 13:53] jsf9k commented on #86
I also learned about Bulma from your GitHub profile just now, so thanks for that :smiley:

[2018-08-16 18:40] #86 closed, assigned to nobody

[2018-08-17 20:29] refayathaque commented on #86
Hi @jsf9k ! Sorry but we're still unclear about how exactly we can figure out what network configuration protocol is enabled/disabled in an email SMTP server. Do we have to change the port settings in SSLyze before doing the scan? Is there a special SSLyze function that is only used for email SMTP servers? Thank you so much for the guidance.

[2018-08-20 16:17] jsf9k commented on #86
@refayathaque, you can see how 18F/domain-scan does it by looking [here](https://github.com/18F/domain-scan/blob/master/scanners/sslyze.py#L211-L220) and [here](https://github.com/18F/domain-scan/blob/master/scanners/sslyze.py#L433-L497).  I don't know if it is also possible from the `sslyze` command line.

[2018-08-21 15:37] upieper opened #87 "Can't install trustymail - syntax error Non-ASCII character '\xc2'"
Hi - I have problems installing trustymail - error message below.
My system is running CentOS 7 and python 2.7.5 (pip 18).

[code]

[2018-08-21 15:57] upieper commented on #87
I have found an issue report for the problem with py3dns: https://bugs.launchpad.net/py3dns/+bug/1774134

I will install python 3 and see whether this is getting resolved. It would be good to add a required python version to the trustymail README file.

[2018-09-12 12:57] refayathaque opened #88 "Some domains with MX records not appearing in trustymail"
Hello,

We wanted to know why some domains that have MX records are not found in the trustymail reports, e.g., cber.fda.gov and cder.fda.gov, and for these two domains the 4th level ones that are not live are shown in the overall report, but the 3rd level domains are not (answers-cber.fda.gov, medlib.cder.fda.gov, weblern.cder.fda.gov).

Thank you!

[2018-09-15 23:40] bknowles commented on #41
Folks,

Any word on the status of this work?  I'm running into the same problem as reported by @lampyjon .

[2018-09-19 12:40] seanthegeek commented on #41
@bknowles Until this gets fixed, try out my SPF and DMARC parser/validator, `checkdmarc` the only thing it does not do that `trustymail` does is check for `STARTTLS` on the SMTP servers listed in the MX records (I ought to add that!)

https://domainaware.github.io/checkdmarc/

@h-m-f-t @jsf9k Thoughts on using `checkdmarc` to do the record checking?

[2018-10-16 14:53] jsf9k opened #90 "Follow CNAME redirects when checking DMARC and SPF records"
We should follow CNAME redirects when checking DMARC and SPF records.  Here is an example of such a case for DMARC:
[code]
Here is an example of such a case for SPF:
[code]

[2018-10-16 18:32] jsf9k commented on #90
Examining [lines 354-354 of `trustymail.py`](https://github.com/dhs-ncats/trustymail/blob/develop/trustymail/trustymail.py#L345-L354), we see that if `dns.resolver` follows CNAME redirects then `trustymail` will too when checking for DMARC records.  I did a quick check (using the `_dmarc.bosch.com` example above) to verify that this is indeed the case:
[code]

[2018-10-16 18:37] jsf9k commented on #90
Examining lines [288](https://github.com/dhs-ncats/trustymail/blob/develop/trustymail/trustymail.py#L288) and [247](https://github.com/dhs-ncats/trustymail/blob/develop/trustymail/trustymail.py#L247) of `trustymail.py`, we see that since `dns.resolver` follows CNAME redirects `trustymail` should too when checking for SPF records.  I did a quick check using the `nasa-at-work.nasa.gov` example above

[2018-10-16 18:40] jsf9k commented on #90
@h-m-f-t @egyptiankarim
Since I verified that `dns.resolver` is collowing CNAME redirects for us, there is nothing to be done here.  `trustymail` already works as expected. :fireworks:

[2018-10-16 18:40] #90 closed, assigned to jsf9k

[2018-10-16 20:17] h-m-f-t commented on #90
Nice work, @jsf9k 👍

[2018-10-17 20:37] egyptiankarim commented on #41
For additional reference: https://github.com/sdgathman/pyspf/issues/2

[2018-10-26 17:03] jsf9k opened #94 "Is the hostname specified when connecting to the mail server reversible?"
@felddy pointed out that it would be good to check that the hostname specified in the EHLO that is sent to the mail server be reversible when scanning from AWS Lambda.  This is the hostname specified as the `local_hostname` parameter [in the `smtplib.SMTP` constructor](https://docs.python.org/3/library/smtplib.html#smtplib.SMTP).

Right now `local_hostname` *is not* specified, which means that the

[2019-02-07 19:11] erm161 opened #102 "Questions related to HHS Trustymail and HTTPS CyHy Reports"
1. The Trustymail report now contains .net, .org and .com domains that do not contain DMARC information (columns T-X in the raw data are blank). This produces a N/A in the compliance fields, rather than a 0/1 for the .gov domains.

2. 105 NIH domains have dropped off of the report of top-level domains for NIH. The 1/20 report contained 271 NIH top-level domains and the 1/27 and 2/3 reports have 16

[2019-02-12 14:00] jsf9k commented on #102
Regarding your first point, we were asked by someone at HHS to add the following non-.gov domains:
- heatrtruth.net
- medlineplus.net
- nlm.net
- thehearttruth.net
- heatrtruth.org
- thehearttruth.org
- phpartners.org
- thehearttruth.com

I assume these are the domains you are talking about.  I don't have any more details about the request, but if you send me an email at jeremy.frasier@trio.dhs.go

[2019-02-12 14:13] jsf9k commented on #102
Regarding your second point, it looks like a lot of NIH hosts (such as `autodiscover.31.nia.nih.gov`) that used to have MX records no longer do.  As stated on page 4 of the 2/9 report, we do not list subdomains in the "Results" table that do not support SMTP.  A subdomain that does not have an MX record set does not receive mail and hence does not support SMTP.

(We omit such subdomains from the r

[2019-02-12 15:39] jsf9k commented on #102
Regarding your third point, we do not have the capacity to create custom reports.  "Unknown Error" is indeed the name of the last column of the CSV, and the boolean value it contains indicates whether an unexpected error occurred while processing the domain.  (This field exists chiefly as a means to help us debug when folks report issues with results fro particular domains.)  I looked at your 2/9

[2019-02-12 15:43] erm161 commented on #102
Thanks – we figured out the issue. A new column was added since the 1/20 report – OCSP domains. I’m not sure of the purpose of this column, but it caused an error in the macro we’ve created to turn the DHS reports into an OpDiv specific compliance report for our use. I was able to remove that column and everything aligned as expected.

Thanks,

Evan Miller (Contractor)
Security Design + Innovation

[2019-02-12 15:44] jsf9k commented on #102
@erm161 it seems you knew about the domains being added.  The reason no DMARC information appears for those domains is because they lack DMARC records.  For example:
[code]

[2019-02-12 15:51] jsf9k commented on #102
The purpose of that column is to alert the report recipient if a domain is known by us to be [an OCSP domain](https://en.wikipedia.org/wiki/Online_Certificate_Status_Protocol).  Such domains are scanned, but their compliance or non-compliance does not influence the BOD 18-01 results for organization.  Such sites are discussed on page 4 of your HTTPS report, and [here](https://https.cio.gov/guide/#

[2019-02-12 16:23] jsf9k commented on #102
I'll close this issue for now, since I think it is resolved, but please reopen @erm161 if you feel otherwise.

[2019-02-12 16:23] #102 closed, assigned to jsf9k

[2019-03-14 20:42] jsf9k commented on #94
Now that we run the scans behind a NAT gateway, we explicitly set the `local_hostname` parameter to the FQDN corresponding to the EIP used by the NAT gateway.  Therefore the hostname is definitely reversible.

[2019-03-14 20:42] #94 closed, assigned to nobody

[2019-03-14 21:08] jsf9k opened #109 "Records with include tags not handled correctly"
One of our stakeholders pointed out that:

This stakeholder is correct.  This is a bug in trustymail.  See section 5.2 of [RFC7208](https://tools.ietf.org/html/rfc7208#section-5.2).  [Here](https://github.com/cisagov/trustymail/blob/develop/trustymail/trustymail.py#L317-L330) is the offending piece of code.

[2019-03-14 21:13] jsf9k commented on #109
A quick check of last weekend's scans (`grep -HniF "Result unexpectedly" trustymail.csv | wc -l`) only finds 28 ambiguities when scanning 92k hosts.

[2019-03-27 19:40] #109 closed, assigned to jsf9k

[2019-06-25 20:24] refayathaque commented on #41
Hi everyone,

Having to resuscitate this because I am trying to run trustymail scans but can't even import the module.

Very similar error to others contributing to this ticket:

`Traceback (most recent call last):
  File "handler.py", line 1, in <module>
    from trustymail import trustymail
  File "/Users/refayathaque/Desktop/trustymail/trustymail/trustymail.py", line 11, in <module>
    import

[2019-07-15 16:43] refayathaque commented on #41
![Screen Shot 2019-07-15 at 12 41 56 PM](https://user-images.githubusercontent.com/25051299/61233184-f8a4d700-a6fd-11e9-8b64-f56742ad79e3.png)

Tried to run it locally again and seeing the same problem :(

[2019-07-15 19:39] jsf9k commented on #41
@refayathaque, this is on OSX, right?  trustymail will not run on a default installation of OSX because of the case-insensitive file system.  This is due to the issue described [here](https://github.com/cisagov/trustymail/issues/41#issuecomment-355390394) and [here](https://github.com/pypa/virtualenv/issues/1012).

I am told that it is possible to install OSX with a case-sensitive filesystem, but

[2019-07-18 17:34] refayathaque commented on #41
@jsf9k hello! Yes, the screenshots above are from my macOS 10.14.5

Since what you mentioned above with respect to installing macOS with a case-sensitive file system is untested we'd prefer to continue trying to run trustymail in AWS Lambda.

These are the steps I am taking to create an AWS Lambda deployment package with trustymail.

1. git clone git@github.com:cisagov/trustymail-lambda.git
2. cd

[2019-07-18 18:11] jsf9k commented on #41
Yep, it's when you unzip the file on MacOS that the case-insensitive filesystem bites you.  If you really want to unzip the file manually you can do that on any linux distribution.  Windows used to be case-insensitive as well; I don't know offhand if that is still true in Windows 10.

As a better solution, I'd recommend the following:

1. Fork the cisagov/lambda_functions repository
2. Add your cu

[2019-07-22 14:29] refayathaque commented on #41
Hi @jsf9k , hope you've had a nice weekend.

Thank you so much for the guidance, this is now what I am doing to make edits to the Lambda handler file and it's working fine. I'm really glad we were able to resolve these issues and can now begin to use trustymail in AWS Lambda! :)

Based on some preliminary trustymail tests there was one thing I was hoping to get some feedback on.

`{
  "Domain": "s

[2019-07-22 17:09] echudow commented on #41
Hi @refayathaque, in our runs of `trustymail` this is completely normal and expected.  The MX record has 2 mail servers listed (`smtp2.ees.hhs.gov` and `smtp.ees.hhs.gov`), so `trustymail` will try to connect to each of them on ports 25, 465, and 587, resulting in 6 SMTP STARTTLS attempts.  In the debug info, there are 5 time outs listed, so it looks like one connection was successful while the ot

[2019-07-22 22:20] refayathaque commented on #41
@echudow thank you for that detailed explanation. I am better understanding the Debug Info now! So trustymail will declare an email domain like `samhsa.gov` to be supporting STARTTLS even though it could verify that only 1/2 of the domain's mail servers have STARTTLS? Is that the logic it's using? More of a `server1STARTTLS || server2STARTTLS` rather than `server1STARTTLS && server2STARTTLS`?

[2019-07-23 14:08] echudow commented on #41
@refayathaque, yes, the domain supports STARTTLS if all mail servers that support SMTP support STARTTLS.  So in the case of samhsa.gov, the scanner could only connect for SMTP to one of the listed mail servers so the other one was ignored since as far as the scanner knows it doesn’t accept any email, and the one that did accept an SMTP connect also supports STARTTLS.

[2019-07-24 13:37] refayathaque commented on #41
@echudow thank you, well understood! So let me ask you this: In order for me to determine full BOD 18-01 compliance I am going to need to explore 3DES, RC4, SLLv2, SSLv3, and for this I will need to use SSLyze in addition to trustymail. Taking this above example into consideration, since we only got a response on 1/2 of the servers, should I only do the SSLyze scan on that one server that responde

[2019-07-24 13:57] echudow commented on #41
@refayathaque, if you use `domain-scan` and and have it use both the `trustymail` and then the `sslyze` scanners, `sslyze` is smart enough to use the results from `trustymail` to only scan the servers and ports that `trustymail` was already able to connect to (unfortunately it also scans 443 for all of them too, see my commit on my fork at https://github.com/echudow/domain-scan/commit/e3c926da510d

[2019-08-01 21:13] climber-girl commented on #88
Hi Refayat, the Trustymail report methodology details the sources where we gather domains to scan.  In short, the BOD 18-01 domains (HTTPS and Tmail) are gathered from [GSA’s list of all owned .gov domains](https://github.com/GSA/data/blob/master/dotgov-domains/current-federal.csv), [GSA’s DAP](https://analytics.usa.gov/data/live/sites-extended.csv), [Censys](https://censys.io/), the [End of Term

[2019-08-19 12:58] mcdonnnj commented on #87
Later commits have resolved this and Python 3.6+ is the current requirement.

[2019-08-19 12:58] #87 closed, assigned to nobody

[2020-08-18 14:31] FlorianHeigl opened #119 "docker build & run does not see trustymail inside itself."
# 💥 Regression Report

The docker container seems to not come up with a working trustymail setup:

[code]

## Last working version

Worked up to version: I don't know but must have been fine earlier.

Stopped working in version:

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

container builds, runs trustymail

## Any helpful log output

Paste the results here:

[c

[2020-08-26 15:51] #119 closed, assigned to nobody

[2020-11-04 13:53] xqdd opened #121 "Timeout for microsecond?"

[2020-11-04 14:15] jsf9k commented on #121
Thanks for the issue @XQDD!  Could you fill out the description?  I don't understand what the issue is based only on the title.

[2020-11-04 14:20] xqdd commented on #121
-t --timeout=TIMEOUT        The DNS lookup timeout in seconds. (Default is 5.)
--smtp-timeout=TIMEOUT      The SMTP connection timeout in seconds. (Default
                              is 5.)

Thanks for your quickly reply, my mean is that here only offer timeout for second but can't use 0.5(500ms) because they are int type. @jsf9k

[2020-11-05 16:06] jsf9k commented on #121
@XQDD, are you asking that we allow floats for those two timeout parameters?  Or are you asking that we specify in the documentation that only integer values are accepted?

[2020-11-05 16:09] xqdd commented on #121
Well, it would be great if allow float.

[2020-11-27 21:33] mcdonnnj commented on #121
@XQDD I apologize for the delay in further response from us.

`--smtp-timeout` is limited by the underlying Python [`smtplib` library](https://docs.python.org/3/library/smtplib.html#smtplib.SMTP) to values in seconds only.

Although the two packages using `--timeout`, `dnspython` and `py3dns`, appear to support timeouts more granular than seconds, the underlying code appears to round up to the nea

[2020-11-27 21:33] #121 closed, assigned to jsf9k

[2020-12-11 21:04] reevesjeremy opened #122 "Update requirements.txt with newer pySPF module"
SPF Validation is failing for "nist.gov" on pySPF 2.0.11 with permanent error.
[code]

Changing requirements.txt for pySPF to version 2.0.14 and reinstalling resolved the issue.

[code]
Please update the requirements.txt file for public consumption.  (Might take the opportunity to consider checking some other modules that may have released updates)